body {
    background-color: #ecf0f1;
}

h1 {
    color : #34495e;
    transition: color 0.5s ease-in-out;
    /* transition ease-in-out은 transition의 변화가 천천히 됨..?*/
}

.clicked {
    color : #7f8c8d;
} 

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}